{% load static %}
<html style="height:100%">
<link rel="stylesheet" type="text/css" href="{% static 'local1000site/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'easyui.css' %}" />
<script type="text/javascript" src="{% static 'local1000site/index.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.easyui.min.js' %}"></script>
<body style="height:100%;overflow:hidden" onload="onLoad()">
<div class="easyui-layout" style="width:100%;height:100%;">
<div class="left_list" data-options="region:'west',split:true" style="width:512px">
    <ul class="easyui-datalist" lines="true">
        {% for pic_repertory in pic_repertories %}
            <li>
                <div class="rep_list" style="width:100%" onmousedown="mDown(this)">
                <a
                    aindex="{{ pic_repertory.rep_name }}"
                    rep_id="{{ pic_repertory.id}}"
                    apicname="{{ pic_repertory.cover }}" >
                {{ pic_repertory.rep_name }}
                </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div data-options="region:'center'">
    <div id="img_container" class="imc_container">
        <img id="quick_img" class="littleimg" src="/static/{{ pic_repertories.0.rep_name }}/{{ pic_repertories.0.cover }}" />
    </div>
    <div id="repertory" style="display:none;" onmouseover="repOver(this)" >
    </div>
</div>
</div>
</body>
</html>
