{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'local1000site/style.css' %}" />
<style type="text/css">
</style>
<script type="text/javascript">
    function repOver(obj) {
        for (i = 0; i < rep_list.length; i++) {
            rep_list[i].addEventListener("mouseover", mOver);
        }
    }

    var rep_list;

    function onLoad() {
        console.log(window);
        document.getElementById("img_container").style.height = window.innerHeight + "px";
        document.getElementById("repertory").style.height = window.innerHeight + "px";
        rep_list = document.getElementsByClassName("rep_list");
        repOver(null);
    }

    function mOver(event) {
        document.getElementById("img_container").style.display = "block";
        document.getElementById("repertory").style.display = "none";
        var index = event.target.attributes.aindex.value;
        var picname = event.target.attributes.apicname.value;
        var imgNode = document.getElementById("quick_img");
        imgNode.src="/static/" + index + "/" + picname;
    }

    function mDown(obj) {
        for (i = 0; i < rep_list.length; i++) {
            rep_list[i].removeEventListener("mouseover", mOver);
        }
        document.getElementById("img_container").style.display = "none";
        document.getElementById("repertory").style.display = "block";
        document.getElementById("repertory").innerHTML = "";
        var local1000Req = new Request("/local1000/picContentAjax/?id=" + obj.attributes.rep_id.value)
        fetch(local1000Req)
            .then(function(resp){
                return resp.json();
            })
            .then(function(resp) {
                console.log(resp);
                var repName = resp.dirName;
                for (var pic of resp.pics) {
                    var img = document.createElement("img");
                    img.src = `/static/${repName}/${pic}`
                    document.getElementById("repertory").appendChild(img);
                }
                document.getElementById("repertory").appendChild(document.createElement("p"));
            });
    }
</script>
<body onload="onLoad()">
<div class="left_list">
    <ul>
        {% for pic_repertory in pic_repertories %}
            <li>
                <a
                    class="rep_list"
                    aindex="{{ pic_repertory.rep_name }}"
                    rep_id="{{ pic_repertory.id}}"
                    apicname="{{ pic_repertory.cover }}" onmousedown="mDown(this)">
                {{ pic_repertory.rep_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div id="img_container" class="imc_container">
    <img id="quick_img" class="littleimg" src="/static/{{ pic_repertories.0.rep_name }}/{{ pic_repertories.0.cover }}" />
</div>
<div id="repertory" style="display:none;" onmouseover="repOver(this)" >

</div>
</body>
