div.left_list {
    width: 512px;
    height:100%;
    overflow-y:scroll;
    position: absolute;
    top:0;
    left:0;
}
div.imc_container {
    overflow-y: auto;
}
#img_container {
    margin-left: 512px;
}
#repertory {
    overflow-y: auto;
    margin-left: 512px;
}
body {
    margin: 0;
}